body {
    font-family: Arial;
    background-image: linear-gradient(#FDF8D9,#EBD6B7);
}
h1 {
    text-align: center;
    font-size: 42px;
    cursor: pointer;
}
a.links {
	text-decoration: none;
}
div#navbar {
    position: fixed;
    border-style: solid;
    border-width: 5px;;
    border-color: #222;
    width: 100%;
    left:0px;
    top:0px;
}
ul#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li.navbar a:hover {
	background-color: #111;
}
li.navbar {
  float: left;
}
li.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.navbar {
    border-right: 3px solid #444;
}
li.navbar:last-child {
    border-right: none;
    border-left: 3px solid #444;
}
li#lexicon {
    border-right: 3px solid #444;
}
#active {
    background-color: #028b59;
}
#active:hover {
    background-color: #026440;
}
table {
    width: 1200px;
    text-align: center;
}
table#vowels {
    width: 400px;
}
table.verbs {
    width: 330px;
}
table.nouns {
    width: 350px;
}
table#voice {
    width: 150px;
}
table, th, td {
    border: 1px solid black;
    font-size: 15px;
}
th.consonants, td.consonants {
    width: 10%;
}
th#approx {
    height: 60px;
}