body {
    font-family: Arial;
    background-image: linear-gradient(#FDF8D9,#EBD6B7);
}
h1 {
    text-align: center;
    font-size: 42px;
    cursor: pointer;
}
div#square {
	position: absolute;
	width: 50px;
	height: 50px;
	border-style: solid;
	border-radius: 5px;
	border-color: #181818;
	right: 20px;
	top: 100px;
	background-color: #363636;
	opacity: 0;
}
div#square:hover {
	opacity: 1;
    cursor: pointer;
}
div#navbar {
    position: fixed;
    border-style: solid;
    border-width: 5px;;
    border-color: #222;
    width: 100%;
    left:0px;
    top:0px;
}
ul#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li.navbar a:hover {
	background-color: #111;
}
li.navbar {
  float: left;
}
li.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.navbar {
    border-right: 3px solid #444;
}
li.navbar:last-child {
    border-right: none;
    border-left: 3px solid #444;
}
a.links {
	text-decoration: none;
}
#active {
    background-color: #028b59;
}
#active a:hover{
    background-color: #026b45; 
}
