body {
    font-family: Arial;
    background-image: linear-gradient(#FDF8D9,#EBD6B7);
}
h1#title {
    text-align: center;
}
a {
	color: #000000;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
h1 {
	font-size: 40px;
}
div#mainpage {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
	 background-color: #FFE5C6;
    border-radius: 5px;
    border-style: solid;
    border-color: #EDD8B7;
    width: 170px;
    height: 20px;
}
