body {
    font-family: Arial;
    background-image: linear-gradient(#FDF8D9,#EBD6B7);
}
h1#title {
    text-align: center;
}
a.links {
	text-decoration: none;
}
div#navbar {
    position: fixed;
    border-style: solid;
    border-width: 5px;;
    border-color: #222;
    width: 100%;
    left:0px;
    top:0px;
}
ul#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li.navbar a:hover {
	background-color: #111;
}
li.navbar {
  float: left;
}
li.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.navbar {
  border-right: 3px solid #444;
}
li.navbar:last-child {
  border-right: none;
  border-left: 3px solid #444;
}
#active {
    background-color: #028b59;
}
h1 {
	font-size: 40px;
}
div#mainpage {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
	 background-color: #FFE5C6;
    border-radius: 5px;
    border-style: solid;
    border-color: #EDD8B7;
    width: 170px;
    height: 20px;
}
div#footer {
  position: absolute;
  left:0px;
  width:99%;
  display: block;
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: #FFF;
  border-style: solid;
  border-width: 5px;;
  border-color: #222;
}
div#footer a {
  color: #EEE;
}