body {
    font-family: Arial;
    background-image: linear-gradient(#FDF8D9,#EBD6B7);
}
h1 {
    font-size: 50px;
}
h2, h3 {
	text-decoration: underline;
}
div#mainpage {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
	background-color: #FFE5C6;
    border-radius: 5px;
    border-style: solid;
    border-color: #EDD8B7;
    width: 170px;
    height: 20px;
}
@font-face {
    font-family: PoyeeniNa;
    src: url(PoyeeniNa.ttf);
}
.alphabet {
    font-family: PoyeeniNa;
}
table {
    width: 500px;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    font-size: 15px;
}

th.consonants, td.consonants {
    width: 10%;
}
th.vowels, td.vowels {
    width: 10%;
}
th.numerals ,td.numerals {
	width: 20%;
}
table#numerals {
	width: 700px;
}
table#verbs {
    width: 600px;
    text-align: center;
}
th.verbs, td.verbs {
    width: 20%;
}
h1#pyn {
    text-align: center;
}
td:hover {
    font-weight: 600;
    background-color: #FCEBD1;
}
a.links {
	text-decoration: none;
}
div#navbar {
    position: fixed;
    border-style: solid;
    border-width: 5px;;
    border-color: #222;
    width: 100%;
    left:0px;
    top:0px;
}
ul#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li.navbar a:hover {
	background-color: #111;
}
li.navbar {
  float: left;
}
li.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.navbar {
    border-right: 3px solid #444;
}
li.navbar:last-child {
    border-right: none;
    border-left: 3px solid #444;
}
li.navbar {
    border-right: 3px solid #444;
}
li.navbar:last-child {
    border-right: none;
    border-left: 3px solid #444;
}
#active {
    background-color: #028b59;
}
div#footer {
    position: absolute;
    left:0px;
    width: 99%;
    display: block;
    text-align: center;
    padding: 3px;
    background-color: #333;
    color: #FFF;
    border-style: solid;
    border-width: 5px;;
    border-color: #222;
}
div#footer a {
    color: #EEE;
}