body {
    font-family: Arial;
    background-image: linear-gradient(#FDF8D9,#EBD6B7);
}
table {
    width: 500px;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    resize: horizontal;
    font-size: 15px;
}

th.consonants, td.consonants {
    width: 10%;
}
th.vowels, td.vowels {
    width: 10%;
}
table#verbs {
    width: 600px;
    text-align: center;
}
th.verbs, td.verbs {
    width: 20%;
}
h1#pyn {
    text-align: center;
}
td:hover {
    font-weight: 600;
    background-color: #FCEBD1;
}
